@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300,300italic,400italic);

/* theme color
	Very string: #245B49
	Strong: #3D997A
    Main: #77B7A1
    Weak: #ADD3C6
  	Alert: #B20000
*/

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-thumb {
	background-color: #77B7A1;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	overflow-y: hidden;
}

#bkgTop, #bkgBottom {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	position: absolute;
	z-index: -2;
}

#bkgTop {
	transition: opacity 2.0s ease;
}

.backgroundBlur {
  	-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
 	-ms-filter: blur(5px);
  	filter: blur(5px);
}

#whiteCover {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: -1;
	transition: opacity 0.3s ease;
}

#searchContainer {
	position: relative;
	text-align: center;
	top: 50%;
	transition: top 0.3s ease-out, background 0.3s ease;
	z-index: 3;
}

#searchWrapper {
	display: inline-block;
	border: 2px solid rgba(255,255,255,0);
	background: rgba(255,255,255,0.8);
	height: 45px;
	transition: border 0.1s linear;
}

#textField {
	font-family: "Open Sans";
	font-size: 18px;
	border: none;
	outline: none;
	height: 100%;
	width: 550px;
	background: rgba(255,255,255,0);
	padding: 8px;
	vertical-align: middle;
	transition: width 0.3s ease;
}

#goBtn {
	vertical-align: middle;
	margin-right: 2px;
	height: 30px;
	cursor: pointer;
	right: 0px;
}

#lower {
	width: 100%;
	height: calc(100% - 49px);
	opacity: 0;
	transition: opacity 0.3s ease-out;
	z-index: 1;
}

#pagesContainer {
	position: fixed;
}

#resultContainer {
	display: block;
	height: 100%;
	background-color: rgba(0,0,0,0);
	overflow-y: scroll;
}

#results {
	margin: 20px 150px 20px 150px;
}

.result {
	margin-bottom: 20px;
	padding: 8px;
	border-left: solid 4px rgba(0,0,0,0);
	transition: background 0.2s ease, border 0.2s ease;
}
.result:hover {
	background: white;
	border-left: solid 4px #77B7A1;
	cursor: pointer;
}

.resultTitle {
	font-size: 14pt;
	font-weight: 600;
	color: #3D997A;
}

.resultCite {
	font-size: 8pt;
	color: #3D997A;
}

.resultAbstract {
	font-size: 12pt;
	margin: 0;
}

#moreBtn {
	color: white;
	width: 200px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	display: none;
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
	border: none;
	background: #77B7A1;
	transition: background 0.2s ease;
}
#moreBtn:hover {
	cursor: pointer;
	background: #3D997A;
}

.separator {
	position: relative;
	width: 100%;
	text-align: center;
	border-bottom: solid 1px #245B49;
	margin: 0px 0 50px 0;
	line-height: 50px;
}
.separator > span {
	color: #245B49;
	font-size: 20pt;
	transform: translate(-50%, 0);
}

.myFooter {
	font-family: "Open Sans";
	font-weight: 300;
	position: absolute;
	bottom: 0%;
	color: rgb(225,225,225);
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	text-align: center;
	font-size: 8pt;
}

#timeTaken {
	font-weight: 300;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	font-size: 8pt;
}

.highlight {
	color: #3D997A;
}